#{$module} {
    a,
    span {
        @extend %mm-reset;

        position: relative;
        z-index: 1;
        padding: (($mm_item_height - $mm_line_height) / 2) $mm_item_indent; // IE11 fallback
        padding: calc((var(--mm-item-height) - var(--mm-line-height)) / 2)
            var(--mm-item-indent);
    }

    a {
        background: inherit;
        color: inherit;
        text-decoration: none;

        //  Show arrow for opening the submenu.
        &:not(:last-child) {
            width: calc(100% - #{$mm_item_height}); // IE11 fallback
            width: calc(100% - var(--mm-item-height));

            //  Border on the right.
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                border-right: 1px solid;
                opacity: $mm_border_opac;
            }
        }
    }

    //  Show arrow for opening the submenu.
    span {
        background: transparent;
    }
}
