#{$module} {
    //  From the right.
    &#{$module}--right {
        left: auto;
        right: 0;

        //  Menu closed.
        &:not(#{$module}--open) {
            transform: translateX(100%);
        }
    }
}

//  The page-blocker
#{$module}-blocker {
    //  From the right.
    &#{$module}--right {
        right: auto;
        left: 0;
    }
}
