#{$module} {
    //  All listviews.
    ul {
        @extend %mm-reset;

        -webkit-overflow-scrolling: touch;

        position: fixed;
        top: $mm_item_height; // IE11 fallback
        top: var(--mm-item-height);
        left: 100%;
        bottom: 0;

        //  Fix for weird iOS Safari issue:
        //  A fixed element is not visible outside of its parent if its parent is scrollable.
        width: 200%;
        padding-right: 100%;
        //  /Fix

        overflow: visible;
        overflow-y: auto;
        background: inherit;
        transition: left $mm_transition_duration ease 0s;

        cursor: default;

        //  Because padding-bottom doesn't work if it is scrollable.
        &:after {
            content: '';
            display: block;
            height: $mm_item_height; // IE11 fallback
            height: var(--mm-item-height);
        }
    }

    //  First level listview.
    > ul {
        left: 0;
    }

    //  Listview opened.
    ul#{$module}--open {
        left: 0;
    }

    //  Child listview opened.
    ul#{$module}--parent {
        left: -100%;
        overflow-y: hidden;
    }
}
