$module: '.mm';

@import 'variables';

%mm-reset {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//  Variables
:root {
    /** Height for menu items. */
    --mm-item-height: #{$mm_item_height};

    /** Indent for menu items. */
    --mm-item-indent: #{$mm_item_indent};

    /** Line height for menu items. */
    --mm-line-height: #{$mm_line_height};
}

//  Generic.
#{$module}-hidden {
    display: none !important;
}

@import 'core-menu';
@import 'core-navbar';
@import 'core-listview';
@import 'core-listitem';
@import 'core-anchor';
