//  Variables
:root {
    /** Width for the menu. */
    --mm-width: #{$mm_width};

    /** Min-width for the menu. */
    --mm-min-width: #{$mm_min_width};

    /** Max-width for the menu. */
    --mm-max-width: #{$mm_max_width};
}

//  The rest of the page
#{$module}-body--open {
    //  Somewhat prevents scrolling.
    overflow-y: hidden;

    //  Disables mouse events.
    pointer-events: none;
}

#{$module} {
    //  Re-enables the disabled mouse events.
    pointer-events: auto;

    //  Off-canvas menu
    &#{$module}--offcanvas {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9995;
        width: $mm_width; // IE11 fallback
        width: var(--mm-width);
        min-width: $mm_min_width; // IE11 fallback
        min-width: var(--mm-min-width);
        max-width: $mm_max_width; // IE11 fallback
        max-width: var(--mm-max-width);

        transition: transform $mm_transition_duration ease;

        //  Menu closed.
        &:not(#{$module}--open) {
            transform: translateX(-100%);
        }
    }

    //  From the right.
    &#{$module}--right {
        left: auto;
        right: 0;

        //  Menu closed.
        &:not(#{$module}--open) {
            transform: translateX(100%);
        }
    }
}

//  The page-blocker
#{$module}-blocker {
    //  Re-enables the disabled mouse events.
    pointer-events: auto;

    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(#000, 0.2);

    //  While the menu is closing, the blocker is full-width below the menu.
    top: 100%;
    z-index: 9990;
    width: 100%;
    opacity: 0;

    transition-property: opacity, top;
    transition-timing-function: ease, linear;
    transition-duration: $mm_transition_duration * 1.5, 0s;
    transition-delay: 0s, $mm_transition_duration * 1.5;

    //  When the menu is opened, it is above (but next to) the menu.
    &#{$module}--open {
        top: 0;
        z-index: 9999;
        width: calc(100% - #{$mm_width}); // IE11 fallback
        width: calc(100% - var(--mm-width));
        min-width: calc(100% - #{$mm_max_width}); // IE11 fallback
        min-width: calc(100% - var(--mm-max-width));
        max-width: calc(100% - #{$mm_min_width}); // IE11 fallback
        max-width: calc(100% - var(--mm-min-width));
        opacity: 1;

        transition-delay: $mm_transition_duration, 0s;
    }
}
