$mm_transition_duration: 0.3s !default;

$mm_arrow_size: 10px !default;
$mm_arrow_weight: 2px !default;

$mm_border_opac: 0.15 !default;
$mm_navbar_opac: 0.4 !default;
$mm_arrow_opac: 0.4 !default;

// Variables for CSS variables, basically only needed for IE11 fallbacks
$mm_item_height: 50px !default;
$mm_item_indent: 20px !default;
$mm_line_height: 24px !default;

$mm_width: 80% !default;
$mm_min_width: 200px !default;
$mm_max_width: 440px !default;
