#{$module} {
    &#{$module}--vertical {
        //  Enable scrolling.
        overflow-y: auto;

        ul {
            //  Undo the fix for weird iOS Safari issue.
            width: 100%;
            padding-right: 0;
            //  /Undo fix.

            //  Undo sliding submenus.
            //  Also undoes the top, left, right, bottom and z-index properties :)
            position: static;

            //  Submenus
            ul {
                display: none;
                padding-left: $mm_item_indent; // IE11 fallback
                padding-left: var(--mm-item-indent);

                //  Because padding-bottom doesn't work if it is scrollable.
                &:after {
                    height: $mm_item_height / 2; // IE11 fallback
                    height: calc(var(--mm-item-height) / 2);
                }
            }

            //  Show opened submenus.
            &#{$module}--open {
                display: block;
            }
        }
    }
}
